html {
    overflow-x: hidden;
    overflow-y: overlay;
}

.container {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
}

.content {
    margin-left: auto;
    margin-right: auto;
    height: 80%;
}

#header {
    margin-top: 0;
    padding: 32px 16px 32px 40px;
}

h2, h2  a, h2 a:visited, h2 a:active, h2 a:hover {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: #828282;
    color: #375964;
    text-decoration: none;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.btn {
    width: 100%;
    border-radius: 30px;
    color: #375964;
    font-weight: 500;
}

.btn:hover {
    background-color: #fd2f3d;
    color: #ffffff;
}

.btn.selected {
    background-color: #ff4f5a;
    color: #ffffff;
}

.btn.selected:hover {
    background-color: #fa202e;
}

.edit {
    width: 30%;
    border: 1px solid #fa202e;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 40px;
}

.section {
    margin-top: 24px;
    margin-bottom: 80px;
    padding-left: 5%;
    padding-right:5%;
}

h3 {
    color: #ff4f5a;
    margin-bottom: 32px;
    width: 100%;
    text-align: center;
}

h5.skill {
    margin-left: 40px;
    margin-right: 40px;
    display: inline-block;
    white-space: nowrap;
    padding: 10px;
}

.form-view {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.form-title {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    color: #ff4f5a;
}

input, textarea {
    width: 100%;
}

.save {
    width: 30%;
    border: 1px solid #fa202e;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 40px;
}