{% load static %}
<html>
    <head>
        <title>Blog | James Chamberlain</title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="row" id="header">
                <div class="col-2">
                    <h2><a href="/">james.cv</a></h2>
                </div>
                <div class="col-1 offset-5" >
                    <a class="btn unselected" href="/">About me</a>
                </div>
                
                <div class="col-1">
                    <a class="btn selected" href="/blog">Blog</a>
                </div>
                <div class="col-1">
                    <a class="btn unselected" href="/cv">CV</a>
                </div>

            </div>
            
            <div class="row content" >
                <div class="col-5 offset-1">
                    <img src="{% static 'media/writing.svg' %}" class="img-fluid" id="cover-image" alt="Person coding">
                </div>
                <div class="col-6" id="blog-posts-container">
                    {% if user.is_authenticated %}
                        <a href="{% url 'post_new' %}" class="btn edit">Add new post</a>
                    {% endif %}
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>