{% load static %}
<html>
    <head>
        <title>James Chamberlain</title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/landing.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="row" id="header">
                <div class="col-2">
                    <h2><a href="/">james</a></h2>
                </div>
                <div class="col-1 offset-5" >
                    <a class="btn selected" href="">About me</a>
                </div>
                
                <div class="col-1">
                    <a class="btn unselected" href="/blog">Blog</a>
                </div>
                <div class="col-1">
                    <a class="btn unselected" href="/cv">CV</a>
                </div>

            </div>
            <div class="row content" >
                <div class="col-6">
                    {% load static %}
                    <img src="{% static 'media/coding.svg' %}" class="img-fluid" id="cover-image" alt="Person coding">
                </div>
                <div class="col-6">
                    <h1 id="tagline">Hi, my name is James,<br>I'm a <span class="key-word">software developer</span></h1>
                </div>
            </div>
        </div>
        <footer>
            <a href="https://www.freepik.com/stories">Images created by stories - www.freepik.com</a>
        </footer>
    </body>
</html>