html {
    overflow-x: hidden;
    overflow-y: overlay;
}

.container {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
}

.content {
    margin-left: auto;
    margin-right: auto;
    height: 80%;
}

#header {
    margin-top: 0;
    padding: 32px 16px 32px 40px;
}

#cover-image {
    float: right;
    margin-top: 20%;
}

h2, h2  a, h2 a:visited, h2 a:active, h2 a:hover {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: #375964;
    text-decoration: none;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.btn {
    width: 100%;
    border-radius: 30px;
    color: #375964;
    font-weight: 500;
}

.btn:hover {
    background-color: #fd2f3d;
    color: #ffffff;
}

.btn.selected {
    background-color: #ff4f5a;
    color: #ffffff;
}

.btn.selected:hover {
    background-color: #fa202e;
}

.edit {
    width: 20%;
    border: 1px solid #fa202e;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 24px;
}

.date {
    color: #828282;
    margin-bottom: 70px;
}

#blog-posts-container {
    margin-top: 3%;
}


.post h2 a, .post h2 a:visited {
    color: #000000;
}

p {
    margin-right: 8%;
}

input, textarea {
    width: 100%;
}

#post-detail {
    margin-bottom: 80px;
}